body {
  background-color: #DFFBFF !important;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

.homepage-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.card-img-top {
  width: 100%;
  height: 12rem;
  object-fit: cover;
  border-radius: 0.75rem 0 0;
}

.card {
  border: none !important;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1) !important;
  transition: transform 0.3s ease !important;
}

.card:hover {
  transform: scale(1.05) !important;
}