body {
  background-color: #DFFBFF !important;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

.homepage-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  /* Spazio tra le card */
  justify-content: center;
  /* Centra le card */
}

.card {
  flex: 1 1 calc(50% - 0.5rem);
  /* 2 card per riga su schermi piccoli */
  max-width: calc(50% - 0.5rem);
  /* Massimo 2 card per riga */
  height: 12rem;
}

/* Stile per schermi più grandi di 375px */
@media (min-width: 376px) {
  .card {
    flex: 1 1 calc(33.333% - 1rem);
    /* 3 card per riga */
    max-width: calc(33.333% - 1rem);
  }
}

/* Stile per schermi più grandi di 768px */
@media (min-width: 768px) {
  .card {
    flex: 1 1 calc(25% - 1rem);
    /* 4 card per riga */
    max-width: calc(25% - 1rem);
  }
}

/* Stile per schermi più grandi di 1200px */
@media (min-width: 1200px) {
  .card {
    flex: 1 1 calc(20% - 1rem);
    /* 5 card per riga */
    max-width: calc(20% - 1rem);
  }
}